/*Couleur de fond du body (donc de la partie visible de la page) : bleu clair*/
body {
    background: url('fondcv.jpg');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #8ce8ff;
}

